services:
  - type: web
    name: codeguard-api
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: "COREPACK_ENABLE_STRICT=0 pnpm install --frozen-lockfile=false && cd packages/db && npx prisma@5 generate && cd ../.. && pnpm run --filter @codeguard/api build"
    startCommand: "cd apps/api && node dist/index.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: API_PORT
        value: "4000"
      - fromGroup: CodeGuard
  - type: worker
    name: codeguard-worker
    runtime: node
    region: frankfurt
    plan: starter
    buildCommand: "COREPACK_ENABLE_STRICT=0 pnpm install && pnpm run --filter @codeguard/worker build"
    startCommand: "cd apps/worker && node dist/index.js"
    envVars:
      - key: NODE_ENV
        value: production
      - fromGroup: CodeGuard
